package ${current.package.name}.api;


import java.util.List;
import java.util.Set;


public interface $current.name #if (${current.superClass.size()} > 0) extends ${current.superClass.get(0)} #end {




#foreach ($tagValue in ${current.getTagValues().keySet()})
    public default String get${tagValue.name.substring(0,1).toUpperCase()}${tagValue.name.substring(1)}() {
        return "${current.getValueOf($tagValue.name)}";
    }
#end




    //========================================================================//


#foreach ($aProperty in $current.ownedAttribute)
    public ${aProperty.type.name} get${aProperty.name.substring(0,1).toUpperCase()}${aProperty.name.substring(1)}();
    public void set${aProperty.name.substring(0,1).toUpperCase()}${aProperty.name.substring(1)}(${aProperty.type.name} inValue);
#if ($aProperty.type.collection)
    public void add${aProperty.name.substring(0,1).toUpperCase()}${aProperty.name.substring(1)}(${aProperty.type.baseType.name} inValue);
#end
#end

#foreach ($aMethod in $current.ownedOperation)
    public ${aMethod.type} ${aMethod.name}(#foreach($aParam in ${aMethod.parameters})${aParam.type} ${aParam.name} #end);
#end

